<%= form_for(booking) do |f| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <% if params and params.key?('start_time') %>
  <div class="field">
    <%= f.label :start %>
    <%= f.hidden_field :start, :value => DateTime.parse(params['start_time']) %>
    <%= DateTime.parse(params['start_time']).strftime("%Y-%b-%d %I%p") %>
  </div>
    <% end %>
    <% if params and params.key?('end_time') %>
  <div class="field">
    <%= f.label :end %>
    <%= f.hidden_field :end, :value => DateTime.parse(params['end_time']) %>
    <%= DateTime.parse(params['end_time']).strftime("%Y-%b-%d %I%p") %>
  </div>
    <% end %>
  <div class="field">
    <%= f.label :room_id %>
    <%= f.hidden_field :room_id, :value => params['room'] %>
    <%= params['room'] %>
  </div>

  <div class="field">
  <% if current_user.admin? %>
    <%= f.label :library_member_id %>
  <%= collection_select(:booking, :library_member_id, LibraryMember.where(admin: [false, nil]), :id, :email) %>
  <% else %>
    <%= f.label :library_member_id %>
    <%= f.hidden_field :library_member_id, :value => current_user.id %>
    <%= current_user.email %>
  <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
