<p id="notice"><%= notice %></p>

<p>
  <strong>Start:</strong>
  <%= (@booking.start + 4.hours).strftime("%Y-%b-%d %I%p") %>
</p>

<p>
  <strong>End:</strong>
  <%= (@booking.end + 4.hours).strftime("%Y-%b-%d %I%p") %>
</p>

<p>
  <strong>Room:</strong>
  <%= @booking.room.room_number %>
</p>

<p>
  <strong>Library member:</strong>
  <%= @booking.library_member.email %>
</p>

<%= link_to 'Back', bookings_search_path %>
